<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>DRAFTIN Y'ALL</title>
</head>
<body>
<h2>Users waiting to draft:</h2>
<ul th:each="drafter: ${drafters}">
    <li th:text="${drafter.name}"/>
</ul>
<h2>Add cards to the cube</h2>
<form action="#" th:action="@{/createCube}" method="post">
    <h2>Cards:</h2>
    <textarea cols="30" rows="30" name="cards" type="text"></textarea>
    <p><input type="submit" value="Submit" /></p>
</form>

<h2>Current Cube:</h2>
<ul th:each="card: ${cubeCards}">
    <li>
        <a th:text="${card.name}" th:href="${card.borderCropImg}" th:target="_blank" />
    </li>
</ul>
</body>
</html>
